USE [master]
GO
/****** Object:  Database [ETLFramework]    Script Date: 2.4.2020 7:07:19 ******/
CREATE DATABASE [ETLFramework]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ETLFramework', FILENAME = N'C:\MSSQL\MSSQL14.SQLSRV2017\MSSQL\DATA\ETLFramework.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ETLFramework_log', FILENAME = N'C:\MSSQL\MSSQL14.SQLSRV2017\MSSQL\DATA\ETLFramework_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ETLFramework].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ETLFramework]
GO
/****** Object:  Schema [LOG]    Script Date: 2.4.2020 7:07:19 ******/
CREATE SCHEMA [LOG]
GO
/****** Object:  Table [dbo].[ExecutionLog]    Script Date: 2.4.2020 7:07:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExecutionLog](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PackageName] [nvarchar](50) NULL,
	[SourceTableName] [nvarchar](255) NULL,
	[DestinationTableName] [nvarchar](255) NULL,
	[SourceRows] [int] NULL,
	[DestinationRows] [int] NULL,
	[DestinationRowsInsert] [int] NULL,
	[DestinationRowsUpdate] [int] NULL,
	[DestinationRowsDelete] [int] NULL,
	[ExexutionStart] [datetime] NULL,
	[ExecutionEnd] [datetime] NULL,
	[Result] [nvarchar](50) NULL,
	[TimeStapm] [timestamp] NULL,
	[LastUpdateOn] [datetime] NULL
) ON [PRIMARY]
GO
USE [master]
GO
